<div class="mat-typography">
  <h2 *ngIf="dialog">Events</h2>
  <p>
    Events are the unit of measure for tracking GlitchTip usage. An
    organization's maximum number of events per month is determined by its
    subscription type. There are three kinds of events:
  </p>
  <ul>
    <li>
      <b>Issues:</b> Each occurrence of an event reported to GlitchTip
    </li>
    <li>
      <b>Uptime:</b> Whenever GlitchTip checks the status of your app or your
      app sends a request to GlitchTip to report its own status
    </li>
    <li>
      <b>Performance:</b> Each time your app sends GlitchTip a transaction
      report for a tracked activity on your app
    </li>
  </ul>
  <button
    *ngIf="dialog"
    mat-flat-button
    color="primary"
    (click)="closeDialog()"
  >
    Close
  </button>
</div>
