<section class="l-body">
  <header class="page-header">
    <h2 class="mat-display-1">Subscription</h2>
  </header>
  <ng-container *ngIf="subscription$ | async as subscription">
    <mat-card>
      <mat-card-content>
        <div>
          <ng-container
            *ngIf="
              subscription.status === 'active' ||
                subscription.status === 'trialing' ||
                subscription.status === 'past_due';
              else noSubscription
            "
          >
            <ng-container *ngIf="subscription.plan">
              <p *ngIf="subscription.status === 'active'" class="mat-body-1">
                <ng-container
                  *ngIf="
                    subscription.plan.amount === '0.00';
                    else paidSubscription
                  "
                  >You have selected the free plan. Please consider making a
                  monthly
                  <a
                    href="https://liberapay.com/GlitchTip/donate"
                    target="_blank"
                    >donation</a
                  >
                  to help keep open source development sustainable. Thank you
                  for choosing GlitchTip!</ng-container
                ><ng-template #paidSubscription
                  >This organization has an active subscription to GlitchTip.
                  Thank you!</ng-template
                >
              </p>
              <p *ngIf="subscription.status === 'trialing'" class="mat-body-1">
                This organization has a trial subscription to GlitchTip.
              </p>
              <p *ngIf="subscription.status === 'past_due'" class="mat-body-1">
                This organization has a subscription to GlitchTip, but the
                payment is past due.
              </p>
              <ng-container>
                <mat-card-subtitle>Details</mat-card-subtitle>
                <h3>{{ subscription.plan.product.name }}</h3>
                {{ subscription.plan.product.description }}
                <div
                  class="visualization"
                  *ngIf="eventsPercent$ | async as eventsPercent"
                >
                  <div class="total-events">
                    {{ totalEventsAllowed$ | async }}
                  </div>
                  <div class="display-bar">
                    <div
                      class="error-event"
                      style="width: {{ eventsPercent.errorEvents }}%"
                    ></div>
                    <div
                      class="uptime-event"
                      style="width: {{ eventsPercent.uptimeEvents }}%"
                    ></div>
                    <div
                      class="transaction-event"
                      style="width: {{ eventsPercent.transactionEvents }}%"
                    ></div>
                  </div>
                  <ng-container *ngIf="eventsCountWithTotal$ | async as count">
                    <div
                      class="event-count"
                      [class.event-count--left]="eventsPercent.total < 25"
                      [class.event-count--right]="eventsPercent.total > 75"
                      style="left: {{
                        eventsPercent.total < 100 ? eventsPercent.total : 100
                      }}%"
                    >
                      {{ count.total }}
                    </div>
                    <div>
                      <ul>
                        <li>
                          <b class="error">Issue events:</b>
                          {{ count.eventCount }}
                        </li>
                        <li>
                          <b class="uptime">Uptime events:</b>
                          {{ count.uptimeCheckEventCount }}
                        </li>
                        <li>
                          <b class="performance">Performance events:</b>
                          {{ count.transactionEventCount }}
                        </li>
                        <li>
                          Total events used in billing period: {{ count.total }}
                        </li>
                      </ul>
                    </div>
                  </ng-container>
                </div>
                <ul>
                  <li class="mat-body-1">
                    Start date for this plan:
                    {{ subscription.start_date | date }}
                  </li>
                  <li class="mat-body-1">
                    Plan cost: {{ subscription.plan.amount | currency }}
                  </li>
                  <li class="mat-body-1">
                    Billing:
                    <ng-container
                      *ngIf="
                        subscription.collection_method ===
                        'charge_automatically'
                      "
                    >
                      Automatic
                    </ng-container>
                    <ng-container
                      *ngIf="subscription.collection_method === 'send_invoice'"
                    >
                      Send invoice
                    </ng-container>
                  </li>
                  <li class="mat-body-1">
                    Billing period:
                    {{ subscription.current_period_start | date }} to
                    {{ subscription.current_period_end | date }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
            <p class="mat-body-1">
              If you have questions about your subscription, please contact us
              at
              <a href="mailto:{{ billingEmail }}">{{ billingEmail }}</a
              >.
            </p>
            <mat-error>{{ error$ | async }}</mat-error>
            <button
              mat-flat-button
              color="primary"
              (click)="manageSubscription()"
            >
              Manage Subscription
            </button>
          </ng-container>
          <ng-template #noSubscription>
            <p class="mat-body-1">
              This organization does not have an active subscription to
              GlitchTip. Pick a plan to get started.
            </p>
          </ng-template>
        </div>
        <div *ngIf="(subscription$ | async) === null as subscription">
          <p class="mat-body-1">
            This organization does not have an active subscription to GlitchTip.
          </p>
          <a [routerLink]="['/payment']">Subscription Options</a>
          <p class="mat-body-1">
            If you would like to purchase a subscription, please contact us at
            <a href="mailto:{{ billingEmail }}">{{ billingEmail }}</a
            >.
          </p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="promptForProject$ | async">
      <mat-card-content>
        <p>
          Now that you have an organization and a subscription, create a
          project.
        </p>
        <a
          *ngIf="activeOrganizationSlug$ | async as slug"
          mat-flat-button
          [routerLink]="['/', slug, 'settings', 'projects', 'new']"
          color="primary"
        >
          Create New Project
        </a>
      </mat-card-content>
    </mat-card>
    <gt-payment
      *ngIf="subscription.status === null || subscription.status === 'canceled'"
    ></gt-payment>
  </ng-container>
</section>
